In [284]:
import pandas as pd
import seaborn as sb
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Cargar los datos
df = pd.read_csv('housing.csv')

# Eliminar registros con valores nulos
datos = df.dropna()

# Crear dummies para la columna 'ocean_proximity'
dummies = pd.get_dummies(datos['ocean_proximity'], dtype=int)
datos = pd.concat([datos, dummies], axis=1)
datos.drop('ocean_proximity', axis=1, inplace=True)

In [285]:
datos['room_ratio'] = datos['total_rooms'] / datos['total_bedrooms']

datos['income_per_latitude'] = datos['median_income'] / datos['latitude']
datos['house_value_per_latitude'] = datos['median_house_value'] / datos['latitude']

In [286]:
# Eliminar registros 
datos = datos[datos['median_house_value'] < 500000]
datos = datos[datos['housing_median_age'] < 50]
datos = datos[datos['median_income'] < 15]

In [287]:
datos

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,room_ratio,income_per_latitude,house_value_per_latitude
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0,0,0,1,0,6.821705,0.219778,11948.257656
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0,0,0,1,0,6.418626,0.219266,9469.096672
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,0,0,0,1,0,3.842105,0.054979,5991.014799
20,-122.27,37.85,40.0,751.0,184.0,409.0,166.0,1.3578,147500.0,0,0,0,1,0,4.081522,0.035873,3896.961691
21,-122.27,37.85,42.0,1639.0,367.0,929.0,366.0,1.7135,159800.0,0,0,0,1,0,4.465940,0.045271,4221.928666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0,1,0,0,0,4.451872,0.039521,1978.216819
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0,1,0,0,0,4.646667,0.064746,1952.393011
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0,1,0,0,0,4.647423,0.043114,2340.857215
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0,1,0,0,0,4.547677,0.047355,2148.110576
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0,1,0,0,0,4.521104,0.060671,2270.764542

In [288]:

# caracteristicas de entrada
X = datos.drop('median_house_value', axis=1) #axis = 1, para eliminar la columna

#etiqueta
y = datos['median_house_value']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

modelo = LinearRegression()

#entrenamiento
modelo.fit(X_train, y_train)

predicciones = modelo.predict(X_test)

comparativa = {"predicciones":predicciones, "valor real": y_test}
result = pd.DataFrame(comparativa)

# print(result)

print(f'Score de entrenamiento: {modelo.score(X_train, y_train)}')
print(f'Score de prueba: {modelo.score(X_test, y_test)}')

Score de entrenamiento: 0.9986041978196968
Score de prueba: 0.9986378742316143

In [289]:
result

        predicciones  valor real
4761   150682.949672    151600.0
14210  135796.018631    142200.0
12847   89029.915178     84000.0
14050  139853.752741    140000.0
4685   456976.303890    450000.0
...              ...         ...
14976  125816.027306    131000.0
650    201411.978235    202700.0
843    257067.874793    254400.0
3335    75535.498001     73500.0
8567   387486.889367    382200.0

[3639 rows x 2 columns]

In [ ]:
# ¿El resultado fue mejor o peor?
# R/:
# El resultado fue mejor ya que el score 
# aumento a 0.99 en ambos casos

# ¿Por qué crees que es así?
# R/:
# creo que por que la relacion que mas 
# impacto tiene es la de median_house_value 
# entre las coordenadas ya que le dice al 
# modelo que si una casa esta en una ubicación 
# especifica su valor cambia